*
{
    font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
    border: 1px solid blue;
    background-color: yellow;
}
th
{
    background-color: #cccc;
    padding-left: 40px;
    padding-right: 40px;
}
td
{
    background-color: rgba(193, 97, 97, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}